@import 'base/variables';
@import 'base/mixins';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body{
  background-color: #EFF7F6;
}

.container{
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}



@import 'blocks/header';
@import 'blocks/main';

