@import "base/variables";
@import "base/mixins";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  --background-image-color: linear-gradient(330deg, #7F5A83 0%, #0D324D 74%);
}

body {
  background-color: #0d324d;
  height: 100vh;
  &.wait{
    cursor: wait;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hide {
  display: none;
}

@import "blocks/background";
@import "blocks/header";
@import "blocks/cards";
@import "blocks/guptaButton";
